        z-index: 999;
      }

      #modelEl > div {
        width: 100%;
        max-width: 350px;
        padding: 1.5em;
        background: white;
      }

      #modelEl h1 {
        font-size: 3em;
        font-weight: 600;
      }

      #modelEl p {
        font-size: 14px;
      }

      #modelEl button {
        width: 100%;
        margin-top: 1.5em;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 2em;
        padding: 1em 2em;
        background: dodgerblue;
        transition: all 0.3s ease;
      }

      #modelEl button:hover {
        opacity: 0.8;
      }

      canvas {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
